In [24]:
import pandas as pd
import numpy as np
s = pd.Series([1, 3, 5, 6, 8])
print(s)
#creo una serie de enteros y la muestro
s.size
#tamaño
s.describe()
#miramos las funciones matemáticas

0    1
1    3
2    5
3    6
4    8
dtype: int64

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

In [34]:
serie1 = pd.Series([1, 2, 3, 4, 5])
serie2 = pd.Series([9, 8, 7, 6, 5])
print(serie1+serie2)
#Sumamos las series
print(serie2-serie1)
#Restamos las series
print(serie1*serie2)
#Multiplicamos las series
print(serie2/serie1)
#Dividimos las series

0    10
1    10
2    10
3    10
4    10
dtype: int64
0    8
1    6
2    4
3    2
4    0
dtype: int64
0     9
1    16
2    21
3    24
4    25
dtype: int64
0    9.000000
1    4.000000
2    2.333333
3    1.500000
4    1.000000
dtype: float64

In [38]:
serie1 = pd.Series([1, 2, 3, 5, 7])
serie2 = pd.Series([13, 17, 11, 5, 3])
print(serie1>serie2)
#Muestra si serie 1 es mayor que serie 2 número a número
print(serie1<serie2)
#Lo contrario
print(serie1==serie2)
#Iguales

0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3    False
4    False
dtype: bool
0    False
1    False
2    False
3     True
4    False
dtype: bool

In [42]:
datos={'a':30,'b':40,'c':80,'d':120}
print(datos)
serie=pd.Series(datos)
#Convierte a serie los datos
print(serie)
#Muestro
print(serie['b'])
#Busco los datos de b

{'a': 30, 'b': 40, 'c': 80, 'd': 120}
a     30
b     40
c     80
d    120
dtype: int64

40

In [45]:
datos = pd.Series(['100', '200', 'python', '300.15', '500.8'])
print(datos)
datos = pd.to_numeric(datos,errors='coerce')
#muestro en numérico
print(datos)

0       100
1       200
2    python
3    300.15
4     500.8
dtype: object
0    100.00
1    200.00
2       NaN
3    300.15
4    500.80
dtype: float64

In [56]:
datos = {'A': [1, 2, 3, 4, 5], 'B': [9, 8, 7, 6, 5], 'C': [2, 3, 5, 7, 11]}
df = pd.DataFrame(data=datos)
df.head()
col=df.iloc[:,0]
col.head()
#Creo un dataframe con los datos y elijo la columna A
#También vale con df['A']

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

In [77]:
serie=['5','2','8','3','-1','3','a','c','b','e','z','f']
serie = pd.Series(serie).sort_values()
print(serie)
#Creo serie y la ordeno
suma = lambda x : x + 2
print(suma(1))
#Esto gratis para usar lambda

4     -1
1      2
3      3
5      3
0      5
2      8
6      a
8      b
7      c
9      e
11     f
10     z
dtype: object
3